# defines the current environment mode: development, production, or testing
NODE_ENV=development

# Server Details
PORT=5000

# Database Url
MONGO_URI=

# Frontend URL
FRONTEND_URL=http://localhost:8081

# Backend URL
BACKEND_URL=https://cricketlog-server.onrender.com

# JWT
JWT_SECRET=
JWT_EXPIRY=

# Password Encryption
BCRYPT_SALT_ROUNDS=

# Production
BACKEND_FOLDER=https://cricketvideos.blob.core.windows.net


# Add this to your .env file
STORAGE_CONNECTION_STRING=

STORAGE_ACCOUNT_KEY=